@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i,800,800i,900|Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i,800,800i,900|Petit+Formal+Script&display=swap");

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

body {
  font-family: "Petit Formal Script", cursive;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Petit Formal Script", cursive;
  color: #1F1F1F;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Petit Formal Script", cursive;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.mb-65 {
  margin-bottom: 67px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #FFF5F5;
}

.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #020c26;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.851;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.overlay3 {
  position: relative;
  z-index: 0;
}

.overlay3::before {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.section_title {
  margin-bottom: 62px;
}

@media (max-width: 767px) {
  .section_title {
    margin-bottom: 25px;
  }
}

.section_title span {
  font-size: 18px;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  color: #C78665;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section_title h3 {
  font-size: 36px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 25px;
  }
}

.mb-95 {
  margin-bottom: 95px;
}

@media (max-width: 767px) {
  .mb-95 {
    margin-bottom: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .mb-80 {
    margin-bottom: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.header-area {
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 999;
  background: #fff;
}

.header-area .main-header-area {
  padding: 0 50px;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 120px;
  }
}

.header-area .main-header-area .main-menu {
  text-align: right;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-area .main-header-area .main-menu ul li a {
  color: #727272;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 38px 23px 38px 23px;
  font-family: "Muli", sans-serif;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    padding: 38px 18px 38px 18px;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #C78665;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 9;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #727272;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #C78665;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .main-menu ul li a {
  padding: 35px 18px 35px 18px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

.header-area .social_media_links {
  text-align: right;
}

.header-area .social_media_links ul li {
  display: inline-block;
}

.header-area .social_media_links ul li a {
  background: #171717;
  color: #8B8B8B;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 0 3px;
  font-size: 17px;
}

.header-area .social_media_links ul li a:hover {
  color: #C78665;
}

.slider_bg_z1 {
  background-image: url(../data/images/banner0.jpg);
}

.slider_bg_z2 {
  background-image: url(../data/images/banner1.jpg);
}

.slider_area_inner {
  height: 800px;
  position: relative;
  z-index: 8;
  position: relative;
  z-index: 8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area_inner {
    height: 420px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner {
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner {
    height: 700px;
    background-position: right;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider_area_inner {
    height: 800px;
    background-position: right;
  }
}

.slider_area_inner .slider_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #C78665;
  padding: 126px 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text {
    transform: translate(0%, -50%) rotate(0deg);
    padding: 35px 25px;
    left: 0;
    padding: 35px 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text {
    transform: translate(0%, -50%) rotate(0deg);
    padding: 35px 25px;
    left: 0;
    padding: 35px 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text {
    transform: rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    padding: 70px 25px;
  }
}

.slider_area_inner .slider_text .text_inner {
  position: relative;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text .text_inner {
    transform: rotate(0deg);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text .text_inner {
    transform: rotate(0deg);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text .text_inner {
    transform: rotate(0deg);
  }
}

.slider_area_inner .slider_text h4 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  color: #fff;
  margin-top: 5px;
}

.slider_area_inner .slider_text h3 {
  font-size: 36px;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  color: #fff;
  line-height: 46px;
  margin-bottom: 36px;
  margin-top: 23px;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.slider_area_inner .slider_text span {
  font-size: 18px;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  color: #fff;
}

.slider_area_inner .slider_text:before {
  position: absolute;
  content: "";
  right: -40px;
  bottom: -25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #C78665;
  top: -30px;
  left: -20px;
  z-index: -3;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text:before {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text:before {
    display: none;
  }
}

.slider_area_inner .slider_text:after {
  position: absolute;
  content: "";
  right: -25px;
  bottom: -25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #F2C64D;
  top: -30px;
  left: -40px;
  z-index: -3;
}

@media (max-width: 767px) {
  .slider_area_inner .slider_text:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area_inner .slider_text:after {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area_inner .slider_text:after {
    display: none;
  }
}

.love_story_area {
  padding-top: 75px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .love_story_area {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.love_story_area .single_lover_story {
  margin-bottom: 30px;
}

.love_story_area .single_lover_story .story_thumb {
  width: 247px;
  height: 247px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.love_story_area .single_lover_story .story_thumb img {
  width: 100%;
}

.love_story_area .single_lover_story .story_thumb:before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.love_story_area .single_lover_story span {
  font-size: 24px;
  font-weight: 400;
  margin-top: 33px;
  display: block;
  margin-bottom: 11px;
}

.love_story_area .single_lover_story h3 {
  font-size: 36px;
  color: #C78665;
}

@media (max-width: 767px) {
  .love_story_area .single_lover_story h3 {
    font-size: 30px;
  }
}

.love_story_area .single_lover_story p {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.love_story_area .single_lover_story .social_links {
  text-align: center;
}

.love_story_area .single_lover_story .social_links ul li {
  display: inline-block;
}

.love_story_area .single_lover_story .social_links ul li a {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #F9F3EF;
  color: #C78665;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  margin: 0 3px;
}

.love_story_area .single_lover_story .social_links ul li a:hover {
  background: #C78665;
  color: #fff;
}

.love_story_area .weding_time_line {
  background: #FFFAF2;
  padding: 30px;
  margin-bottom: 30px;
}

.love_story_area .weding_time_line .single_time_line {
  padding-bottom: 48px;
  padding-top: 45px;
  position: relative;
}

.love_story_area .weding_time_line .single_time_line::before {
  position: absolute;
  height: 40px;
  width: 1px;
  background: #C78665;
  left: 50%;
  content: "";
  bottom: -10px;
  opacity: .2;
}

.love_story_area .weding_time_line .single_time_line h3 {
  font-size: 24px;
  color: #C78665;
  font-weight: 400;
}

.love_story_area .weding_time_line .single_time_line p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Muli", sans-serif;
}

.love_story_area .weding_time_line .single_time_line:nth-child(4)::before {
  display: none;
}

.gallery_imag_1 {
  background-image: url(../data/images/gallery0.jpg);
}

.gallery_imag_2 {
  background-image: url(../data/images/gallery1.jpg);
}

.gallery_imag_3 {
  background-image: url(../data/images/gallery2.jpg);
}

.gallery_imag_4 {
  background-image: url(../data/images/gallery3.jpg);
}

.gallery_imag_5 {
  background-image: url(../data/images/gallery4.jpg);
}

.gallery_imag_6 {
  background-image: url(../data/images/gallery5.jpg);
}

.gallery_imag_7 {
  background-image: url(../data/images/gallery6.jpg);
}

.gallery_imag_8 {
  background-image: url(../data/images/gallery7.jpg);
}

.gallery_imag_9 {
  background-image: url(../data/images/gallery8.jpg);
}

.gallery_area {
  padding: 0 50px;
  padding-top: 90px;
}

@media (max-width: 767px) {
  .gallery_area {
    padding: 0;
  }
}

.gallery_area .single_gallery {
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  object-fit: contain;
  object-position: center;
}

.gallery_area .grid-item {
  overflow: hidden;
  padding: 4px !important;
}

.gallery_area a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background: #FFFAF2;
}

.footer .footer_top {
  text-align: center;
  padding: 73px 0;
}

.footer .footer_top ul li {
  display: inline-block;
}

.footer .footer_top ul li a {
  font-size: 15px;
  font-family: "Muli", sans-serif;
  margin: 0 27px;
  color: #1F1F1F;
}

@media (max-width: 767px) {
  .footer .footer_top ul li a {
    margin: 0 5px;
  }
}

.footer .footer_top ul li a:hover {
  color: #C78665;
}

.footer .copy-right_text {
  padding-bottom: 30px;
  background: #fff;
}

.footer .copy-right_text .footer_border {
  padding-bottom: 30px;
}

.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}

.footer .copy-right_text .copy_right a {
  color: #C78665;
}
