################################################################################################################################################################
## .gitignore
##
## Zach Metcalf
################################################################################################################################################################

# directories
bin/
build/
install/

# files
*.DS_Store
Gemfile.lock

# visual studio
*.aps
.vs/


# ???
*.gem
.bundle
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules
assets/main-bundle.js
