################################################################################################################################################################
## .gitignore
##
## Zach Metcalf
################################################################################################################################################################

# directories
bin/
build/
install/

# files
*.DS_Store

# visual studio
*.aps
.vs/

# jekyll
Gemfile.lock
.jekyll-cache
_site
